@tailwind base;
@tailwind components;
@tailwind utilities;

:root{
  --brand1: #0b1430;
  --brand2: #5b3dd6;
  --accent: #ff58b0;
}

html, body, #root { height: 100%; }

/* small custom utilities */
.rounded-3xl{border-radius:24px}
.blur-3xl{filter:blur(48px)}

/* dark mode base tweaks */
.dark .backdrop-blur-md{background:rgba(10,10,12,0.5)}
